<div class="container-fluid" *ngIf="!showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">{{ pageTitle }}</h4>
                <div class="page-title-right d-lg-block">
                    <button type="button" class="btn btn-primary btn-sm" (click)="create()">
                        <i class="fa fa-plus font-size-14 align-middle"></i>
                        Tambah Sprint
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-15">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-3 mb-3">
                                    <input class="form-control form-control-sm" [(ngModel)]="modelParam.name"
                                        name="paramnama" type="text" placeholder="Cari berdasarkan Nama" (keyup)="reloadDataTable()">
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table datatable [dtOptions]="dtOptions" class="table table-hover mobile-optimised mb-0"
                                    data-page-length='20'>
                                    <thead class="thead-lght">
                                        <tr class="text-center">
                                            <th class="border-right">Nama Project</th>
                                            <th class="border-right">Sprint</th>
                                            <th class="border-right">Periode</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let val of listData" class="text-center" (dblclick)="view(val)">
                                            <td data-th="Nama Project">{{ val.name }}</td>
                                            <td data-th="Nama Project">{{ val.sprint }}</td>
                                            <td data-th="Periode">{{ val.period }}</td>
                                            <td class="row-action">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-inline-item">
                                                        <!--  -->
                                                        <a href="javascript: void(0);" (click)="print(val.id)"
                                                            class="mr-2 mb-success" placement="top" ngbTooltip="print">
                                                            <i class="fa fa-print font-size-14 align-middle"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <!--  -->
                                                        <a href="javascript: void(0);" (click)="edit(val)"
                                                            class="mr-2 mb-primary" placement="top" ngbTooltip="Edit">
                                                            <i class="fa fa-edit font-size-14 align-middle"></i>
                                                        </a>
                                                    </li>
                                                    <!--  -->
                                                    <li class="list-inline-item">
                                                        <a href="javascript: void(0);" (click)="delete(val)" class="mb-danger"
                                                            placement="left" ngbTooltip="Hapus">
                                                            <i class="fa fa-trash font-size-14 align-middle"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="showForm">
    <app-page-title [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form disabled="isView">
                        <fieldset [disabled]="isView">
                            <div class="row">
                                <div class="col-md-12" style="padding-bottom: 10px;">
                                    <span
                                        style="font-style: italic;font-size: 11px; font-weight: bold;">
                                        Tanda <span style="font-size: 13px;color: red">*</span>
                                        wajib diisi </span>
                                    <br>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label
                                            class="col-md-4 col-form-label col-form-label-sm required">Nama Project</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                name="nama" [(ngModel)]="model.name"
                                                placeholder="Masukkan nama project" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label
                                            class="col-md-4 col-form-label col-form-label-sm required">Sprint</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                name="sprint" [(ngModel)]="model.sprint"
                                                placeholder="Masukkan nama sprint" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label
                                            class="col-md-4 col-form-label col-form-label-sm required">Periode</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                name="periode" [(ngModel)]="model.period"
                                                placeholder="MAsukkan periode project" />
                                        </div>
                                    </div>
                                </div>                                
                                <div class="col-md-12">
                                    <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" (change)="onFileSelected($event)" style="display: none" #importTimeline>
                                    <button class="btn btn-primary mb-2" (click)="importTimeline.click()">Import File Timeline Excel</button>
                                </div> 
                                <div class="col-md-12" *ngIf="dataImport">
                                    <table class="table">
                                        <thead class="text-center">
                                            <tr>
                                                <th rowspan="3" class="align-middle border-right border-left" style="width: 15%">Programmer</th>
                                                <th rowspan="3" class="align-middle border-right" style="width: 15%;">TASK</th>
                                                <th [colSpan]="timeline" class="align-middle border-right" style="width: 35%;">TIMELINE</th>
                                                <th rowspan="3" class="align-middle border-right" style="width: 10%;">RATE</th>
                                                <th rowspan="3" class="align-middle border-right" style="width: 5%;">PROGRESS (%)</th>
                                                <th rowspan="3" class="align-middle border-right" style="width: 10%;">Nominal</th>
                                                <th rowspan="3" class="align-middle border-right" style="width: 10%;">Bonus</th>
                                            </tr>
                                            <tr>
                                                <th *ngFor="let month of months" [colSpan]="month.colspan" class="align-middle border-right">{{ month.name }}</th>
                                            </tr>
                                            <tr>
                                                <th *ngFor="let date of dates" class="align-middle border-right">{{ date }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let item of dataImport; let i = index">
                                                {{ setDifferentProgrammer(true) }}
                                                <ng-container *ngFor="let row of item.timeline; let r = index">
                                                    {{ setDifferentDate(true) }}
                                                    <tr class="border-bottom" *ngFor="let val of row.tasks">
                                                        <td [rowSpan]='item.jumlah' class="border-right border-left" *ngIf="differentProgrammer">{{ item.programmer }}</td>
                                                        <td class="border-right">{{ val.name }}</td>
                                                        <ng-container *ngFor="let date2 of fullDates">
                                                            <td *ngIf="row.date == date2" class="border-right bg-info">&nbsp;</td>
                                                            <td *ngIf="row.date != date2" class="border-right ">&nbsp;</td>
                                                        </ng-container>
                                                        <td class="border-right" *ngIf="differentDate" [rowSpan]="row.jumlah">
                                                            <select class="form-control form-control-sm"
                                                                [(ngModel)]="row.rate" 
                                                                [ngModelOptions]="{ standalone: true }"
                                                                (change)="[countNominal(i, r), countBonus(i)]">
                                                                <option value="50000">Rp 50.000</option>
                                                                <option value="100000">Rp 100.000</option>
                                                                <option value="150000">Rp 150.000</option>
                                                                <option value="200000">Rp 200.000</option>
                                                                <option value="250000">Rp 250.000</option>
                                                            </select>
                                                        </td>
                                                        <td class="border-right">
                                                            <input type="number" class="form-control form-control-sm" 
                                                                min="0" max="100" maxlength="3" [(ngModel)]="val.progress"
                                                                [ngModelOptions]="{ standalone: true }"
                                                                (ngModelChange)="[countNominal(i, r), countBonus(i)]">
                                                        </td>
                                                        <td class="border-right" *ngIf="differentDate" [rowSpan]="row.jumlah">
                                                            {{ row.nominal | currency:'Rp ' }}
                                                            {{ setDifferentDate(false) }}
                                                            {{ setDifferentProgrammer(false) }}
                                                        </td>
                                                        <td [rowSpan]='item.jumlah' class="border-right" *ngIf="differentProgrammer">
                                                            {{ item.bonus | currency:'Rp ' }}
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <button class="btn btn-light btn-sm mr-2" (click)="default()">
                            <i class="fa fa-chevron-left font-size-14 align-middle mr-2"></i>
                            Kembali
                        </button>
                        <!--  -->
                        <button class="btn btn-primary btn-sm" *ngIf="!isView" (click)="save()">
                            <i class="fa fa-save font-size-14 align-middle mr-2"></i>
                            Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
