<div class="container-fluid" *ngIf="!showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">{{ pageTitle }}</h4>
                <div class="page-title-right d-lg-block">
                    <button type="button" class="btn btn-primary btn-sm" (click)="create()">
                        <i class="fa fa-plus font-size-14 align-middle"></i>
                        Tambah Coba
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-15">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-3 mb-3">
                                    <input class="form-control form-control-sm" [(ngModel)]="modelParam.nama"
                                        name="paramnama" type="text" placeholder="Cari berdasarkan Nama" (keyup)="reloadDataTable()">
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control form-control-sm" [(ngModel)]="modelParam.kode"
                                        name="paramkode" type="text" placeholder="Cari berdasarkan kode" (keyup)="reloadDataTable()">
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table datatable [dtOptions]="dtOptions" class="table table-hover mobile-optimised mb-0"
                                    data-page-length='20'>
                                    <thead class="thead-lght">
                                        <tr class="text-center">
                                            <th class="border-right">Kode</th>
                                            <th class="border-right">Nama</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let val of listData" class="text-center" (dblclick)="view(val)">
                                            <td data-th="Kode">{{ val.kode }}</td>
                                            <td data-th="Nama">{{ val.nama }}</td>
                                            <td class="row-action">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-inline-item">
                                                        <!--  -->
                                                        <a href="javascript: void(0);" (click)="edit(val)"
                                                            class="mr-2 mb-primary" placement="top" ngbTooltip="Edit">
                                                            <i class="fa fa-edit font-size-14 align-middle"></i>
                                                        </a>
                                                    </li>
                                                    <!-- *ngIf="val.id != 1 && val.id != -1" -->
                                                    <li class="list-inline-item">
                                                        <a href="javascript: void(0);" (click)="delete(val)" class="mb-danger"
                                                            placement="left" ngbTooltip="Hapus">
                                                            <i class="fa fa-trash font-size-14 align-middle"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="showForm">
    <app-page-title [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form disabled="isView">
                        <fieldset [disabled]="isView">
                            <div class="row">
                                <div class="col-md-12">
                                    <span style="font-style: italic;font-size: 11px; font-weight: bold;">
                                        Tanda <span style="font-size: 13px;color: red">*</span>
                                        wajib diisi 
                                    </span>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label
                                            class="col-md-4 col-form-label col-form-label-sm required">Kode</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text" name="kode" [(ngModel)]="model.kode"
                                                placeholder="Generate Kode Otomatis" disabled readonly />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label
                                            class="col-md-4 col-form-label col-form-label-sm required">Nama</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text" name="nama" [(ngModel)]="model.nama"
                                                placeholder="Masukkan Nama" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div class="card-footer">
                    <div class="float-right">
                        <!--  -->
                        <button class="btn btn-light btn-sm mr-2" (click)="index()">
                            <i class="fa fa-chevron-left font-size-14 align-middle mr-2"></i>
                            Kembali
                        </button>
                        <!-- -->
                        <button class="btn btn-primary btn-sm" (click)="save()" *ngIf="!isView">
                            <i class="fa fa-save font-size-14 align-middle mr-2"></i>
                            Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
