<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box d-none d-lg-block d-lg-block">
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                    
                    </span>
                    <span class="logo-lg">
                        <div class="row">
                            <!-- <img alt="250x250" [src]="listGambar.logo_menu" data-holder-rendered="true" class="text-center"
                                class="logo-img" height="60">
                            <app-breadcrumbs [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs> -->
                        </div>
                    </span>
                </a>
            </div>
            <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item" (click)="toggleMenubar()">
                <i class="fa fa-fw fa-bars font-size-16"></i>
            </button>
        </div>
        <!-- <div class="d-flex">
            <div class="dropdown d-inline-block" ngbDropdown>
                <button type="button" class="btn header-item" id="page-header-user-dropdown" ngbDropdownToggle>
                    <img class="rounded-circle header-profile-user" src="assets/images/users/user-default.png" />
                    <span class="d-none d-xl-inline-block ml-1">{{user.nama}} &nbsp;<i
                            class="fas fa-angle-down"></i></span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu> -->

                    <!-- <div class="dropdown-divider d-lg-none"></div>
                    <a class="dropdown-item d-block" href="javascript: void(0);"
                        (click)="gantiPassword(modalGPassword)">
                        <i class="fas fa-key font-size-12 align-middle mr-1"></i>
                        Ganti Password
                    </a> -->
                    <!-- <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="javascript: void(0);" (click)="logout()">
                        <i class=" fas fa-power-off font-size-12 align-middle mr-1 text-danger"></i>
                        Keluar
                    </a>
                </div>
            </div>
        </div> -->
    </div>
</header>
<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu active">
            <div class="collapse navbar-collapse active" id="topnav-menu-content">
                <ul class="navbar-nav">

                    <!-- <li class="nav-item">
                        <a class="nav-link arrow-none" (click)="[onMenuClick($event), setBreadcrumb([{label: 'Dashboard',active: true}])]" [routerLink]="['/home']"
                            id="topnav-components" role="button">
                            <i class="fa fa-home mr-2"></i>
                            Dashboards
                        </a>
                    </li> -->
                    
                    <!-- <div class="dropdown d-inline-block" ngbDropdown
                        *ngIf="checkSubAkses('m_kategori', 'lihat') || checkSubAkses('m_buku', 'lihat')
                            || checkSubAkses('m_anggota', 'lihat') || checkSubAkses('m_petugas', 'lihat')
                            || checkSubAkses('m_pengguna', 'lihat')">
                        <li class="nav-item dropdown" ngbDropdownToggle>

                            <a class="nav-link dropdown-toggle arrow-none" href="#" (click)="onMenuClick($event)"
                                id="topnav-pages" role="button">
                                <i class="fas fa-user mr-2"></i>
                                Data Master
                                <div class="arrow-down"></div>
                            </a>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <div class="dropdown">
                                    <a class="dropdown-item dropdown-toggle arrow-none" (click)="[onMenuClick($event), setBreadcrumb([{label: 'Master'},{label: 'Kategori',active: true}])]"
                                        href="#" id="topnav-email" [routerLink]="['/master/kategori']" role="button"
                                        *ngIf="checkSubAkses('m_kategori', 'lihat')">
                                        Kategori Buku
                                    </a>
                                    <a class="dropdown-item dropdown-toggle arrow-none" (click)="[onMenuClick($event), setBreadcrumb([{label: 'Master'},{label: 'Buku',active: true}])]"
                                        href="#" id="topnav-email" [routerLink]="['/master/buku']" role="button"
                                        *ngIf="checkSubAkses('m_buku', 'lihat')">
                                        Buku
                                    </a>
                                    <a class="dropdown-item dropdown-toggle arrow-none" (click)="[onMenuClick($event), setBreadcrumb([{label: 'Master'},{label: 'Anggota',active: true}])]"
                                        href="#" id="topnav-email" [routerLink]="['/master/anggota']" role="button"
                                        *ngIf="checkSubAkses('m_anggota', 'lihat')">
                                        Anggota
                                    </a>
                                    <a class="dropdown-item dropdown-toggle arrow-none" (click)="[onMenuClick($event), setBreadcrumb([{label: 'Master'},{label: 'Petugas',active: true}])]"
                                        href="#" id="topnav-email" [routerLink]="['/master/petugas']" role="button"
                                        *ngIf="checkSubAkses('m_petugas', 'lihat')">
                                        Petugas
                                    </a>
                                    <a class="dropdown-item dropdown-toggle arrow-none" (click)="[onMenuClick($event), setBreadcrumb([{label: 'Master'},{label: 'Pengguna',active: true}])]"
                                        href="#" id="topnav-email" [routerLink]="['/master/pengguna']" role="button"
                                        *ngIf="checkSubAkses('m_pengguna', 'lihat')">
                                        Pengguna
                                    </a>
                                </div>
                            </div>
                        </li>
                    </div> -->

                    <!-- <div class="dropdown d-inline-block" ngbDropdown
                        *ngIf="checkSubAkses('t_peminjaman', 'lihat')">
                        <li class="nav-item dropdown" ngbDropdownToggle>
                            <a class="nav-link dropdown-toggle arrow-none" href="#" (click)="onMenuClick($event)"
                                id="topnav-pages" role="button">
                                <i class="fas fa-hand-holding-usd mr-2"></i>
                                Data Transaksi
                                <div class="arrow-down"></div>
                            </a>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <div class="dropdown">
                                    <a class="dropdown-item dropdown-toggle arrow-none" (click)="[onMenuClick($event), setBreadcrumb([{label: 'Transaksi'}, {label: 'Peminjaman', active: true}])]"
                                        href="#" id="topnav-email" [routerLink]="['/transaksi/peminjaman']"
                                        role="button">
                                        Peminjaman
                                    </a>
                                </div>
                            </div>
                        </li>
                    </div> -->

                    <!-- <div class="dropdown d-inline-block" ngbDropdown
                        *ngIf="checkSubAkses('l_laporan', 'lihat') || checkSubAkses('l_rekap', 'lihat')">
                        <li class="nav-item dropdown" ngbDropdownToggle>
                            <a class="nav-link dropdown-toggle arrow-none" href="#" (click)="onMenuClick($event)"
                                id="topnav-pages" role="button">
                                <i class="far fa-file-alt mr-2"></i>
                                Laporan
                                <div class="arrow-down"></div>
                            </a>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <div class="dropdown" >
                                    <a class="dropdown-item dropdown-toggle arrow-none" (click)="[onMenuClick($event), setBreadcrumb([{label: 'Laporan'}, {label: 'Laporan Peminjaman', active: true}])]"
                                        href="#" id="topnav-email" [routerLink]="['/laporan/peminjaman']"
                                        role="button" *ngIf="checkSubAkses('l_laporan', 'lihat')">
                                        Laporan Peminjaman
                                    </a>
                                    <a class="dropdown-item dropdown-toggle arrow-none" (click)="[onMenuClick($event), setBreadcrumb([{label: 'Laporan'}, {label: 'Rekap Peminjaman', active: true}])]"
                                        href="#" id="topnav-email" [routerLink]="['/laporan/peminjaman-rekap']"
                                        role="button" *ngIf="checkSubAkses('l_rekap', 'lihat')">
                                        Laporan Rekap Peminjaman
                                    </a>
                                </div>
                            </div>
                        </li>
                    </div> -->

                    <div class="dropdown d-inline-block" ngbDropdown >
                        <li class="nav-item dropdown" ngbDropdownToggle>
                            <a class="nav-link dropdown-toggle arrow-none" href="#" (click)="onMenuClick($event)"
                                id="topnav-pages" role="button">
                                <i class="far fa-file-alt mr-2"></i>
                                Project
                                <div class="arrow-down"></div>
                            </a>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <div class="dropdown" >
                                    <a class="dropdown-item dropdown-toggle arrow-none" (click)="[onMenuClick($event), setBreadcrumb([{label: 'Project'}, {label: 'Import', active: true}])]"
                                        href="#" id="topnav-email" [routerLink]="['/project/timeline']"
                                        role="button">
                                        Timeline Project
                                    </a>
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>
    </div>
</div>

<ng-template #modalGPassword let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Ganti Password</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-4 col-form-label col-form-label-sm required">Password</label>
                    <div class="col-md-8">
                        <input class="form-control form-control-sm" type="password" [(ngModel)]="model.password"
                            name="password" placeholder="Masukkan Password Baru" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label col-form-label-sm required">Ulangi Password</label>
                    <div class="col-md-8">
                        <input class="form-control form-control-sm" type="password" [(ngModel)]="model.repassword"
                            name="repassword" placeholder="Ulangi Password Baru" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="float-right">
            <button class="btn btn-primary btn-sm" (click)="savepasswords(); modal.dismiss('Cross click')"
                [disabled]="model.password != model.repassword">
                <i class="fa fa-save font-size-14 align-middle mr-2"></i>
                Simpan
            </button>
        </div>
    </div>
</ng-template>